@model List<DT102G_moment2.Models.BlogPostModel>;

@{
    ViewData["Title"] = "Blogg Posts";
}

<!--Get sub menu-->
@Html.Partial("_SubMenu")

<p class="blog-intro">@ViewBag.IntroText</p>

<section>
    @foreach (var blogPost in Model)
    {
    <article class="post-article">
        <h3 class="post-heading">@blogPost.Title</h3>
        <p class="post-text">@blogPost.Text</p>
        <p class="post-name"> <b>Skriven av:</b> @blogPost.Name</p>
        <p class="post-name"><b>Nivå på spelaren: </b> @blogPost.Level</p>
        <p class="post-date"><b>Publicerad: </b>@blogPost.Date.ToString("yy-MM-dd"), kl. @blogPost.Date.ToString("hh:mm")</p>
    </article>
        
    }
</section>

